<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("general/head.ejs") %>
    <link rel="stylesheet" href="css/index.css">
    <title> Info - Yuxi Luo </title>
</head>

<body>
    <!-- <loader>
        <div class="loader-wrapper">
            <div id="load"></div>
        </div>
    </loader> -->

    <%- include("general/nav.ejs") %>

    <content>
        <!-- <div class="center"> -->
        <header id="content-header">
            <h1> Information </h1>
        </header>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Basic </div>
            </div>
                <div class="content-main">
                    <div class="content-block">
                      Hi, I'm Yuxi and I'm currently a Backend Engineer at Robinhood NYC. <br>
                      I recently graduated from Carnegie Mellon University with a Master of Computational Data Science degree in December 2021. <br>
                      My current interests include computer systems and architecture, with past internships and projects focusing on backend development, distributed systems, and operating systems. <br>
                    </div>
                </div>
        </div>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Skills </div>
            </div>
            <div class="content-main">
                <table id="content-skills">
                    <tr>
                        <th style="color: white;"> Categories </th>
                        <th style="color: white;"> Languages </th>
                        <th style="color: white;"> Tools </th>
                    </tr>
                    <tr>
                        <th> Back-end Development </th>
                        <td> Python | Golang </td>
                        <td> Django | Protocol Buffers | Bazel | Docker | Cassandra | Kibana | NATS </td>
                    <tr>
                        <th> Machine Learning </th>
                        <td> Python </td>
                        <td> PySpark | PyTorch | Keras | Numpy | Pandas | Scikit-learn | NLTK | LaTeX | OpenCV </td>
                    </tr>
        		    <tr>
                        <th> Game Engineering </th>
                        <td> C++ | gml </td>
                        <td> OpenGL | GameMakerStudio </td>
                    </tr>
                    <tr>
                        <th> Full-stack Development </th>
                        <td> JavaScript | Java | CSS | HTML </td>
                        <td> ExpressJS | NodeJS | SCSS | Dropwizard </td>
                    </tr>
                </table>
            </div>
        </div>

    </content>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/theme.js"></script>

</body>
