// Created by Yuxi Luo; 2018

@import "../other/media-queries.scss";

////////////////////// general //////////////////////

$blue: #8AD0EE;
$blue2: #6CA3BB;
$blue3: #40616E;
$white: #D4E8F1;
$grey: #616B6E;
$pink: #F1A4B0;
$yellow: #BBB65A;
$orange: #EEC08A;

body {
    overflow: hidden;
    margin: 0;
    background-color: #1e1e1e;
}

* {
    font-family: Arial, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

@mixin div-afater() {
    &::after {
        content: "";
        left: 0;
        bottom: 0;

        display: block;
        border-style: solid;
        border-color: #fff;
        border-width: 0 0 4px 0;

        opacity: 0;
    }
}

////////////////////// content //////////////////////

$nav-width: 200px;
$nav-width-phone: 100px;

$content-width: calc(100vw - #{$nav-width});
$content-block-width: calc(#{$content-width} - 120px - 50px);

$font-header: 60px;
$font-subheader: 22px;
$font-main: 14px;

$font-header-phone: 30px;
$font-subheader-phone: 15px;
$font-main-phone: 13.5px;

content {
    display: block;
    position: absolute;
    top: 0;
    left: $nav-width + 120px;

    margin: 0;
    padding: 0;
    width: $content-width;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    @include xs {
        left: 30px;
        width: 90%;
    }
}

#content-header {
    // text-align: center;
    width: $content-width;
    height: $nav-width;
    line-height: $nav-width;

    @include xs {
        margin: 50px 0 0 0;
        width: 100%;
        height: $nav-width-phone;
        line-height: $nav-width-phone;
    }

    h1 {
        margin: 0;
        font-size: $font-header;

        text-decoration: underline;
        text-underline-position: under;

        @include xs {
            font-size: $font-header-phone;
        }
    }
}

.content-block {
    // width: $content-block-width;
    margin: 0 0 40px 0;

    @include xs {
        margin: 0 0 20px 0;
    }

    &:hover {
        .content-name::after {
            opacity: 1;
        }
        // .content-name {
        //     left: -4px;
        //     border-style: solid;
        //     border-color: #fff;
        //     border-width: 0px 4px 0px 4px;
        //
        // }
        // .content-main {
        //     left: 42px;
        // }
    }
}


.content-name-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;

    vertical-align: top;

    @include xs {
        width: 100%;
    }
}

.content-name {
    display: inline-block;
    font-size: $font-subheader;
    text-align: left;
    width: auto;
    line-height: 40px;

    @include xs {
        font-size: $font-subheader-phone;
        line-height: 20px;
    }

    @include div-afater();
}

.content-main {
    display: inline-block;
    position: relative;
    left: 20px;

    width: calc(#{$content-block-width} - 200px);
    font-size: $font-main;
    line-height: 24px;
    // color: #dedede;

    @include xs {
        font-size: $font-main-phone;
        line-height: 20px;
        width: 80%;
    }

    a {
        color: $blue2;
    }
}
