// Created by Yuxi Luo; 2018

@import "../other/media-queries.scss";

////////////////////// nav //////////////////////

$nav-width: 200px;

$nav-width-phone: 40px;
$nav-offset-phone: 6px;

$logo-mobile-offset: 0px;
$logo-mobile-border-width: 2px;

nav {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    margin: 0;
    width: $nav-width;
    height: 100vh;

    background-color: #222;

    @include xs {
        width: 100vw;
        height: $nav-width-phone;
    }
}


#navi-logo {
    // fix default mouse position (0, 0) will hover over logo
    text-align: center;
    left: 1px;
    top: 1px;
    width: $nav-width - 1px;
    height: $nav-width - 1px;

    position: relative;
    top: 0;

    @include xs {
        display: inline-block;
        width: $nav-width-phone - 1px;
        height: $nav-width-phone - 1px;

        box-sizing: border-box;
        border-style: solid;
        border-color: #fff;
        border-width: $logo-mobile-border-width;
    }

    a {
        display: block;
        position: relative;
        width: $nav-width;
        height: $nav-width;

        @include xs {
            left: -5px;
            width: $nav-width-phone;
            height: $nav-width-phone;
        }

        p {
            padding: 0;
            margin: 0;
            left: 0;
            top: 50%;
            transform: translateY(50%) translate(0, 5px);

            font-family: Helvetica, sans-serif;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 5px;

            @include xs {
                top: 50%;
                transform: translateY(50%) translate(2px, $logo-mobile-offset);
                font-size: 5px;
                letter-spacing: 1px;
            }
        }

    }

    transition: text-shadow 0.1s linear;

    &:hover {
        a {
            left: -5px;
        }
        p {
            // center the logo for the border
            transform: translateY(50%);
            @include xs {
                transform: translateY(50%) translate(2px, $logo-mobile-offset);
            }
        }

        // text-shadow: 0 0 10px #cccccc, 0 0 10px #cccccc;
        box-sizing: border-box;
        border-style: solid;
        border-color: #fff;
        border-width: 5px;

        @include xs {
            border-width: $logo-mobile-border-width;
        }
    }
}

.navi-ul {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    @include xs {
        display: inline-block;
        top: $nav-offset-phone;
        // transform: translateY(0%) translate(0px, -1px);
    }

    li {
        @include xs {
            display: inline-block;
        }
        a {
            display: block;
            position: relative;
            width: $nav-width;
            line-height: 55px;
            font-size: 22px;
            text-align: center;
            @include xs {
                width: $nav-width-phone;
                line-height: 20px;
                font-size: 10px;
            }
        }

        &.active {
            border-style: solid;
            border-color: #fff;
            border-width: 0 5px 0 5px;
            @include xs {
                border-width: 0 4px 0 4px;
            }

            a {
                left: -5px;
                @include xs {
                    left: 0;
                }
            }
        }

        @include div-afater();

        &:hover:not(.active)::after {
            opacity: 1;
            transition: opacity 0.2s linear;
        }

        &:hover a {
            text-shadow: 0 0 10px #ddd, 0 0 10px #ddd;
            @include xs {
                text-shadow: 0 0 4px #ddd, 0 0 4px #ddd;
            }
        }
    }
}

#navi-media {
    // position: absolute;
    // bottom: 30px;
    position: relative;
    top: 30px;

    @include xs {
        display: inline;
        top: $nav-offset-phone;
        left: 10px;
        li a {
            width: 15px;
        }
    }
}


#navi-email {
    position: absolute;
    width: $nav-width;
    text-align: center;
    bottom: 10px;
    color: #ccc;
    font-size: 5px;
    letter-spacing: 2px;

    @include xs {
        display: none;
    }
}
